$color-primary: #fff;
$color-shadow: #702BFE;
$color-background: #292D32;
$color-background-body: #0C0C0C;
$color-low: #E81A0C;
$color-medium: #702BFE;
$color-high: #039C55;
$color-genre: #2C81FB;
$color-duration: #702BFE;

$radius-small: 8px;
$radius-large: 16px;

$transition: .3s ease-in-out;